.header {
  text-align:right;
  list-style-type:none;
  margin:0;
  padding:0;

}
li{
  padding: 8px;
  display: inline;
  width: 60px;

}
img{
  padding-top:200px;
}
div {

  text-align: center;

}
.searchbox{
  align-items: center;
  height:40px;
  width:2em;
  padding-top:10px;
  size: 20px;
  


}
.buttons{
  align-items: center;
  height:20px;
  padding-top:10px;
}

input  {
  width:200px;
  height:44px;
}

.leftfooter{
  text-align:left;
  clear:none;
float:left;
  background-color:grey;
}

.rightfooter{
  text-align:right;
  clear:none;
  float:right;
   background-color:grey;
}
